@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

body { 
    font-family: "Open sans", sans-serif;
    background-color:#567C71;
    overflow-x: clip;
}

@theme {
    --color-primary: #567C71;
    --color-on-primary: #FFEA8C;
    --color-secondary: #E07A5F;
    --color-on-secondary: #FFEBD2;
    --color-tertiary: #3D405B;
    --color-on-tertiary: #F8F4EC;
    --color-error: #EF4444;
    --font-bebas: "Bebas Neue", sans-serif;

    --box-shadow-primary: 4px 4px 0px var(--color-primary);
    --box-shadow-secondary: 4px 4px 0px var(--color-secondary);
    --box-shadow-tertiary: 4px 4px 0px var(--color-tertiary);
    --box-shadow-on-primary: 4px 4px 0px var(--color-on-primary);
    --box-shadow-on-secondary: 4px 4px 0px var(--color-on-secondary);
    --box-shadow-on-tertiary: 4px 4px 0px var(--color-on-tertiary);
    --box-shadow-error: 4px 4px 0px #9B2C2C;

    --animate-float: float 3s ease-in-out infinite;

    @keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
}

.heroPath path {
   stroke: #FFEA8C;
  stroke-width: 1;
  fill: transparent;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 2s linear forwards, fillFade 0.5s ease forwards 2s;

}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillFade {
  to {
    fill: #FFEA8C;
  }
}

  @font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  .input-error {
    box-shadow: var(--box-shadow-error);
  }

  .input.error :focus {
    outline: 2px solid #9B2C2C;
  }