---
import H2 from "../ui/H2.astro";
import Link from "../ui/Link.astro";
---

<div
  class="w-full h-0 border-l-[50vw] border-l-transparent border-r-[50vw] border-r-transparent border-b-[20px] border-b-secondary"
>
</div>
<section class="bg-secondary w-full flex flex-col gap-5 pt-10 px-10">
  <H2>CONTACT</H2>

  <div class="flex gap-10 justify-center">
    <Link>
      <img class="w-10" src="/logos/linkedin.webp" alt="Link to my linkedin" />
    </Link>

    <Link>
      <img class="w-10" src="/logos/github.webp" alt="Link to my github" />
    </Link>
  </div>
  <form action=""></form>
</section>
