---
import ContactForm from "../ui/ContactForm.astro";
import H2 from "../ui/H2.astro";

import Link from "../ui/Link.astro";
const { t } = Astro.props;
---

<div
  id="contact"
  class="w-full h-0 border-l-[50vw] border-l-transparent border-r-[50vw] border-r-transparent border-b-[20px] border-b-secondary"
>
</div>
<section class="bg-secondary w-full">
  <div class="max-w-[800px] mx-auto flex flex-col gap-5 py-20 px-10">
    <H2>{t.contact.title}</H2>

    <div class="flex gap-10 justify-center">
      <Link href="https://www.linkedin.com/in//">
        <img
          class="w-10 drop-shadow-(--box-shadow-primary)"
          src="/logos/linkedin.webp"
          alt="Link to my linkedin"
        />
      </Link>

      <Link href="https://github.com/Alabalala">
        <img
          class="w-10 drop-shadow-(--box-shadow-primary)"
          src="/logos/github.webp"
          alt="Link to my github"
        />
      </Link>
    </div>

    <ContactForm t={t} />
  </div>
</section>
