---
import H2 from "../ui/H2.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../ui/ProjectCard.astro";

const projectsRaw = await getCollection("projects");
const projects = projectsRaw.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div
  class="bg-primary w-full flex flex-col items-space-between justify-between items-center gap-5 px-10 py-10 shadow-[inset_0px_5px_6px_0px_rgba(0,_0,_0,_0.1)]"
>
  <H2>PROJECTS</H2>
  <div class="flex flex-row justify-center flex-wrap gap-5">
    {
      projects.map((project) => {
        return <ProjectCard project={project} />;
      })
    }
  </div>
</div>
