---
import Link from "../components/ui/Link.astro";
import Text from "../components/ui/Text.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="h-svh p-10 text-center bg-primary flex flex-col justify-center items-center gap-10"
  >
    <h1 class="text-3xl lg:text-5xl font-bebas text-on-primary">THANKS FOR THE MESSAGE</h1>
    <Text>Thank you for contacting me.</Text>
    <Text>I'll take a look at your message an get back to you as soon as possible.</Text>
    <Link variant="secondary" href="/">Go back home</Link>
  </section>
</Layout>
