---
import Link from "../../components/ui/Link.astro";
import Text from "../../components/ui/Text.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section
    class="h-svh p-10 text-center bg-primary flex flex-col justify-center items-center gap-10"
  >
    <h1 class="text-3xl lg:text-5xl font-bebas text-on-primary">GRACIAS POR TU MENSAJE</h1>
    <Text>Gracias por ponerte en contacto conmigo.</Text>
    <Text>Revisaré tu mensaje y te responderé lo antes posible.</Text>
    <Link variant="secondary" href="/">Volver al inicio</Link>
  </section>
</Layout>
