---
import { buttonVariants } from "../../styles/tv/buttonVariants";

const { text, variant, type } = Astro.props;
---

<button type={type} class={buttonVariants({ buttonVariant: variant })}>{text}</button>
